[submodule "sample/widgets/clock"]
	path = sample/widgets/clock
	url = https://github.com/sdorra/adf-widget-clock
[submodule "sample/widgets/github"]
	path = sample/widgets/github
	url = https://github.com/sdorra/adf-widget-github
[submodule "sample/widgets/linklist"]
	path = sample/widgets/linklist
	url = https://github.com/sdorra/adf-widget-linklist
