<div class="dashboard-container">

  <h1>
    Dashboard {{structure}}
    <span style="font-size: 16px" class="pull-right">
      <a href="" title="Edit Dashboard" ng-click="toggleEditMode()">
        <i class="fa fa-cog"></i>
      </a>
    </span>
  </h1>

  <!--
  <pre>{{stringify(rows)}}</pre>
  -->

  <div class="dashboard" ng-class="editClass">

    <div ng-repeat="row in rows" class="row" ng-class="row.class">
      <div ng-repeat="col in row.columns" class="column" ng-class="col.class" ui-sortable="sortableOptions" ng-model="col.widgets">
        <div ng-repeat="widget in col.widgets">
          <widget type="{{widget.widget}}" config="{{widget.config}}" edit-mode="{{editMode}}" />
        </div>
      </div>
    </div>
    
  </div>

</div>