<div class="dashboard-container">

  <h1>
    Dashboard {{structure}}
    <span style="font-size: 16px" class="pull-right">
      <a href="" ng-if="editMode" title="add new widget" ng-click="addWidgetDialog()">
        <i class="fa fa-plus-circle"></i>
      </a>
      <a href="" title="{{editMode ? 'disable edit mode' : 'enable edit mode'}}" ng-click="toggleEditMode()">
        <i class="fa fa-cog"></i>
      </a>
    </span>
  </h1>

  <div class="dashboard" ng-class="editClass">

    <div ng-repeat="row in model.rows" class="row" ng-class="row.class">
      <div ng-repeat="col in row.columns" class="column" ng-class="col.class" ui-sortable="sortableOptions" ng-model="col.widgets">
        <div class="widgets" ng-repeat="definition in col.widgets">
          <widget definition="definition" column="col" edit-mode="{{editMode}}" />
        </div>
      </div>
    </div>
    
  </div>

</div>