<h3 class="panel-title">
  <i class="glyphicon glyphicon-star"></i>
  {{definition.title}}
  <span class="pull-right">
    <button class="btn-wo-border" title="reload widget content" ng-if="widget.reload" ng-click="reload()">
      <span class="sr-only">reload widget content</span>
      <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
    </button>
    <!-- collapse -->
    <button class="btn-wo-border" title="collapse widget" ng-show="options.collapsible && !widgetState.isCollapsed" ng-click="widgetState.isCollapsed = !widgetState.isCollapsed">
      <span class="sr-only">collapse widget</span>
      <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
    </button>
    <!-- expand -->
    <button class="btn-wo-border" title="expand widget" ng-show="options.collapsible && widgetState.isCollapsed" ng-click="widgetState.isCollapsed = !widgetState.isCollapsed">
      <span class="sr-only">expand widget</span>
      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
    </button>
    <!-- change widget location -->
    <button title="change widget location" class="btn-wo-border adf-move" ng-if="editMode">
      <span class="sr-only">change widget location</span>
      <i class="glyphicon glyphicon-move" aria-hidden="true"></i>
    </button>
    <!-- open edit mode -->
    <button class="btn-wo-border" title="edit widget configuration" ng-click="edit()" ng-if="editMode">
      <span class="sr-only">edit widget configuration</span>
      <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
    </button>
    <button class="btn-wo-border" title="fullscreen widget" ng-click="openFullScreen()" ng-show="options.maximizable">
     <span class="sr-only">fullscreen widget</span>
      <i class="glyphicon glyphicon-fullscreen" aria-hidden="true"></i>
   </button>
    <!-- remove widget -->
    <button class="btn-wo-border" title="remove widget" ng-click="remove()" ng-if="editMode">
      <span class="sr-only">remove widget</span>
      <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </button>
  </span>
</h3>
