<h1>
    <a href="" ng-if="editMode" title="Neues Widget hinzufügen" ng-click="addWidgetDialog()">
      <i class="fa fa-plus"></i>
    </a>
    <a href="" ng-if="editMode" title="Dashboard bearbeiten" ng-click="editDashboardDialog()">
      <i class="fa fa-cog"></i>
    </a>
    <a href="" ng-if="options.editable" title="{{editMode ? 'Speichern' : 'Bearbeitungsmodus aktivieren'}}" ng-click="toggleEditMode()">
      <i class="fa" x-ng-class="{'fa-edit' : !editMode, 'fa-save' : editMode}"></i>
    </a>
    <a href="" ng-if="editMode" title="Änderungen verwerfen" ng-click="cancelEditMode()">
      <i class="fa fa-repeat adf-flip"></i>
    </a>
  </span>
</h1>
