<div class="dashboard-container">
    <div class="row">
        <div class="columns small-8"><h1>{{model.title}}</h1></div>
        <div class="columns small-4">
           <span style="font-size: 16px" class="pull-right">
              <a href="" ng-if="editMode" title="Neues Widget hinzufügen" ng-click="addWidgetDialog()">
                  <i class="fa fa-plus"></i>
              </a>
              <a href="" ng-if="editMode" title="Dashboard bearbeiten" ng-click="editDashboardDialog()">
                  <i class="fa fa-cog"></i>
              </a>
              <a href="" ng-if="options.editable" title="{{editMode ? 'speichern' : 'Bearbeitungsmodus aktivieren'}}" ng-click="toggleEditMode()">
                  <i class="fa" x-ng-class="{'fa-edit' : !editMode, 'fa-save' : editMode}"></i>
              </a>
                <a href="" ng-if="editMode" title="Änderungen verwerfen" ng-click="cancelEditMode()">
                    <i class="fa fa-repeat adf-flip"></i>
                </a>
           </span>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <div class="dashboard" x-ng-class="{'edit' : editMode}">
                <adf-dashboard-row row="row"
                                   adf-model="model"
                                   options="options"
                                   ng-repeat="row in model.rows"
                                   edit-mode="editMode"
                        />
            </div>
        </div>
    </div>
</div>
