<div class="dashboard-container">
    
    <div class="row editRow">
        <div class="col-md-12 pull-right">
            <a href="" ng-if="editMode" title="add new widget" ng-click="addWidgetDialog()">
                <i class="fa fa-plus"></i>
            </a>
            <a href="" ng-if="!editMode" title="edit dashboard" ng-click="toggleEditMode()">
                <i class="fa fa-cog"></i>
            </a>
            <a href="" ng-if="editMode" title="save changes" ng-click="toggleEditMode(true)">
                <i class="fa fa-save"></i>
            </a>
            <a href="" ng-if="editMode" title="discard changes" ng-click="toggleEditMode(false)">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
        <div class="dashboard" ng-class="editClass">

            <div ng-repeat="row in model.rows" class="row">
                <div ng-repeat="col in row.columns" class="column col-md-4 col-sm-6" ui-sortable="sortableOptions" ng-model="col.widgets">
                    <div class="widgets" ng-repeat="definition in col.widgets">
                        <adf-widget definition="definition" column="col" edit-mode="{{editMode}}" collapsible="collapsible" />
                    </div>
                </div>
            </div>

        </div>

    </div>