<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Dashboard</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="dashboardTitle">Title</label>
      <input type="text" class="form-control" id="dashboardTitle" ng-model="copy.title" required="">
    </div>
    <div class="form-group">
      <label>Structure</label>
      <div class="radio" ng-repeat="(key, structure) in structures">
        <label>
          <input type="radio" value="{{key}}" ng-model="model.structure" ng-change="changeStructure(key, structure)"> {{key}}
        </label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button>
</div>
