<a class="close-reveal-modal" ng-click="closeDialog()" aria-hidden="true" aria-label="Close">&#215;</a>
<h4 class="modal-title">Dashboard bearbeiten</h4>

<form role="form">
  <div class="row">
      <div class="small-6 columns">
          <h5>Titel</h5>
          <input type="text" id="dashboardTitle" ng-model="copy.title" placeholder="Titel des Dashboards" />
      </div>
      <div class="small-6 columns">
          <h5>Spaltenstruktur</h5>
          <div class="radio" ng-repeat="(key, structure) in structures">
             <input type="radio" value="{{key}}" ng-model="model.structure" ng-change="changeStructure(key, structure)"> <label>{{key}}</label>
          </div>
      </div>
  </div>
</form>