<div class="modal-header">
  <div class="pull-right widget-icons">
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_REFRESH') }}" ng-if="widget.reload" ng-click="reload()">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_REFRESH') }}</span>
      <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
    </button>
    <button class="btn-wo-border" title="close" ng-click="closeDialog()">
      <span class="sr-only">close</span>
      <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </button>
  </div>
  <h4 class="modal-title">{{definition.title}}</h4>
</div>
<div class="modal-body">
  <adf-widget-content adf-model="adfModel" model="definition" content="widget" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="closeDialog()" ng-bind="translate('ADF_COMMON_CLOSE')">Close</button>
</div>
