<div class="modal-header">
  <a class="close-reveal-modal" ng-click="closeDialog()" aria-hidden="true" aria-label="Close">&#215;</a>
  <h4 class="modal-title">{{widget.title}}</h4>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="small-2 columns">
                <label for="widgetTitle" class="inline widgetTitle">Titel</label>
            </div>
            <div class="small-10 columns">
                <input type="text" class="form-control" id="widgetTitle" ng-model="definition.title">
            </div>
        </div>
    </form>

  <div ng-if="widget.edit" class="widget-settings">
    <adf-widget-content model="definition" content="widget.edit" />
  </div>
</div>