<div adf-id="{{definition.wid}}" class="widget panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title" ng-class="editMode ? 'adf-move' : ''">
    {{definition.title}}
      <span class="pull-right">
        <a href="" title="Daten neu laden" ng-if="widget.reload" ng-click="reload()">
          <i class="fa fa-refresh"></i>
        </a>
        <!-- collapse -->
        <a href="" title="zu klappen" ng-show="options.collapsible && !isCollapsed" ng-click="isCollapsed = !isCollapsed">
          <i class="fa fa-minus"></i>
        </a>
        <!-- expand -->
        <a href="" title="auf klappen" ng-show="options.collapsible && isCollapsed" ng-click="isCollapsed = !isCollapsed">
          <i class="fa fa-plus"></i>
        </a>
        <!-- open edit mode -->
        <a href="" title="konfigurieren" ng-click="edit()" ng-if="editMode">
          <i class="fa fa-cog"></i>
        </a>
        <a href="" title="fullscreen widget" ng-click="openFullScreen()" ng-if="widget.fullScreen">
         <i class="fa fa-arrows"></i>
        </a>
        <!-- remove widget -->
        <a href="" title="löschen" ng-click="close()" ng-if="editMode">
          <i class="fa fa-remove"></i>
        </a>
      </span>
    </h3>
  </div>
  <div class="panel-body" ng-show="!options.collapsible || (options.collapsible && !isCollapsed)">
    <adf-widget-content model="definition" options="options" content="widget" />
  </div>
</div>
