<h3 class="panel-title">
{{definition.title}}
  <span class="pull-right">
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_REFRESH') }}" ng-if="widget.reload" ng-click="reload()">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_REFRESH') }}</span>
      <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
    </button>
    <!-- change widget location -->
    <button title="{{ translate('ADF_WIDGET_TOOLTIP_MOVE') }}" class="adf-move btn-wo-border" ng-if="editMode">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_MOVE') }}</span>
      <i class="glyphicon glyphicon-move" aria-hidden="true"></i>
    </button>
    <!-- collapse -->
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_COLLAPSE') }}" ng-show="options.collapsible && !widgetState.isCollapsed" ng-click="widgetState.isCollapsed = !widgetState.isCollapsed">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_COLLAPSE') }}</span>
      <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
    </button>
    <!-- expand -->
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_EXPAND') }}" ng-show="options.collapsible && widgetState.isCollapsed" ng-click="widgetState.isCollapsed = !widgetState.isCollapsed">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_EXPAND') }}</span>
      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
    </button>
    <!-- open edit mode -->
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_EDIT') }}" ng-click="edit()" ng-if="editMode">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_EDIT') }}</span>
      <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
    </button>
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_FULLSCREEN') }}" ng-click="openFullScreen()" ng-show="options.maximizable">
     <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_FULLSCREEN') }}</span>
      <i class="glyphicon glyphicon-fullscreen" aria-hidden="true"></i>
    </button>
    <!-- remove widget -->
    <button class="btn-wo-border" title="{{ translate('ADF_WIDGET_TOOLTIP_REMOVE') }}" ng-click="remove()" ng-if="editMode">
      <span class="sr-only">{{ translate('ADF_WIDGET_TOOLTIP_REMOVE') }}</span>
      <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </button>
  </span>
</h3>
