<div class="widget panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
    {{definition.title}}
      <span class="pull-right">
        <a href="" title="reload widget content" ng-if="widget.reload" ng-click="reload()">
          <i class="fa fa-refresh"></i>
        </a>
        <!-- change widget location -->
        <a href="" title="change widget location" ng-if="editMode">
          <i class="fa fa-arrows"></i>
        </a>
        <!-- collapse -->
        <a href="" title="collapse widget" ng-show="collapsible && !isCollapsed" ng-click="isCollapsed = !isCollapsed">
          <i class="fa fa-minus"></i>
        </a>
        <!-- expand -->
        <a href="" title="expand widget" ng-show="collapsible && isCollapsed" ng-click="isCollapsed = !isCollapsed">
          <i class="fa fa-plus"></i>
        </a>        
        <!-- open edit mode -->
        <a href="" title="edit widget configuration" ng-click="edit()" ng-if="editMode">
          <i class="fa fa-cog"></i>
        </a>
        <!-- remove widget -->
        <a href="" title="remove widget" ng-click="close()" ng-if="editMode">
          <i class="fa fa-times"></i>
        </a>
      </span>
    </h3>
  </div>
  <div class="panel-body" collapse="isCollapsed">
    <adf-widget-content model="definition" content="widget" />
  </div>
</div>