<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{widget.title}}</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="widgetTitle">Title</label>
      <input type="text" class="form-control" id="widgetTitle" ng-model="definition.title" placeholder="Enter title" required="">
    </div>
  </form>
  <div ng-if="widget.edit">
    <adf-widget-content model="definition" content="widget.edit" />
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button>
</div>