<div class="modal-header">
  <a class="close-reveal-modal" ng-click="closeDialog()" aria-hidden="true" aria-label="Close">&#215;</a>
  <h4 class="modal-title">Widget hinzufügen</h4>
</div>
<div class="modal-body">
  <div style="display: inline-block;">
    <dl class="dl-horizontal">
      <dt ng-repeat-start="(key, widget) in widgets">
        <a href="" ng-click="addWidget(key)">
          {{widget.title}}
        </a>      
      </dt>
      <dd ng-repeat-end ng-if="widget.description">
        {{widget.description}}
      </dd>
    </dl>
  </div>
</div>
