.adf-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.edit .column {
  min-height: 120px;
  border: 1px #ccc dashed;
  padding-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

pre.edit {
  margin-top: 15px;
}

.column .placeholder {
  opacity: 0.4;
  background: #E8E8E8;
  border: 1px dashed #505050;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.adf-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
