<form class="form-inline" role="form">
  <div>
    <label>Links</label>
  </div>
  <div class="padding-bottom" ng-repeat="link in config.links">
    <div class="form-group">
      <label class="sr-only" for="title-{{$index}}">Title</label>
      <input type="text" id="title-{{$index}}" class="form-control" placeholder="Title" ng-model="link.title" required="">
    </div>
    <div class="form-group">
      <label class="sr-only" for="href-{{$index}}">URL</label>
      <input type="url" id="href-{{$index}}" class="form-control" placeholder="http://example.com" ng-model="link.href" required="">
    </div>
    <button type="button" class="btn btn-warning" ng-click="removeLink($index)">
      <i class="fa fa-minus"></i> Remove
    </button>    
  </div>
  <button type="button" class="btn btn-primary" ng-click="addLink()">
    <i class="fa fa-plus"></i> Add
  </button>
</form>